<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/books"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-book"></i></span>
          <br>Table of Books
        </a>
      </div>
      <!--
      <div class="col-sm">
        <a href="/addbook"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-book"></i></span>
          <br>Add New Book
        </a>
      </div>
    -->
    </div>
  </div>