<!-- <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
      </tr>
      </thead>
      <tbody> 
      <tr class="mat-row" *ngFor="let book of books;">
        <td><span>{{book.title}}</span></td>
        <td><span>{{book.author}}</span></td>
        <td><span>{{book.isbn}}</span></td>
      </tr>
      </tbody>
    </table>
  </div> -->

<div class="container">
    <h1>Book Details</h1>
    <div class = "formcontainer">
        <form [formGroup]="rform" (ngSubmit)="send()">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" formControlName="Title" readonly>
            </div>

            <div class="form-group">
                <label>Author</label>
                <input class="form-control" formControlName="Author" readonly>
            </div>

            <div class="form-group">
                <label>ISBN</label>
                <input class="form-control" formControlName="ISBN" readonly>
            </div>
            <br>   
            <button type="submit" class="btn btn-primary">Close</button>
        </form>
    </div>
</div> 

